*{
    padding: 0;
    margin: 0;
}

.top{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 10px 200px;
}

.header{
    display: flex;
    justify-content: space-between;

}

img.spidey{
    width: 120px;
    height: 120px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 19px;
}

.top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
}

.child{
    display: flex;
    flex-direction: column;
    width: 450px;
    row-gap: 10px;
}

.giga-chad{
    width: 400px;
    height: 200px;
}

.middle-1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: rgba(179, 232, 229, 0.589);
    padding: 50px 20px;
}
.facts{
    display: flex;
    column-gap: 20px;
    justify-content: space-around ;
}
.fax-image{
    height: 180px;
    width: 250px;
    border-radius:  5px;
}

.fax-text{
    text-align: center;
    width: 250px;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1.4;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

button{
    width: 5em;
    font-size: 14px;
    height: 2em;
    color: white;
    background-color: dodgerblue;
    border-style: none;
    border-radius: 5px;
}

#text1{
    font-weight: 900;
    font-size: 48px;
}

#text2{
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
}

#giga-fax1{
    font-size: 400;
    font-size: 22px;
    text-align: center;
}

#giga-fax2{
    font-size: 300;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
}
