*{
    padding: 0;
    margin: 0;
}

.top{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.child{
    display: flex;
    flex-direction: column;
}

.giga-chad{
    width: 400px;
    height: 200px;
}


a{
    text-decoration: none;
    color: #f9faf8;
}

